/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

    .hide-to-1200{
        display:none !important;
    }
    .dd-numbers{
        position: absolute !important;
        float: right; !important;
        right: 0px !important;
    }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .numbers {
        float: right !important;
        padding-right: 60px !important;
        padding-bottom: 10px !important;
    }
    .navbar-nav > li {
         padding-top: 2px !important;
     }
}
@media only screen and (max-width : 979px) {
    .navbar-nav > li {
        float: right !important;
        padding-top: 3px !important;
    }
    .sections-list > li > a > h4 {
        font-size: 11px !important;
    }
    .nav > li > a {
        padding: 5px 10px !important;
    }
    .numbers {
        padding-right: 10px !important;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    .navbar {
        min-height: 60px !important;
    }
    .navbar-header img {
        width: 40px !important;
        padding-top: 0px !important;
        margin-top: -7px !important;
    }
    .logo {
        padding-left: 75px !important;
        padding-top: 15px !important;
    }
    .cl-nav-btn {
        margin-top: 10px !important;
    }
    .top_text h1 {
        font-size: 51px !important;
    }
    .top_text p {
        padding-top: 20px;
        font-size: 24px !important;
    }
    .main_head {
        min-height: 320px !important;
    }
    .main_form button {
        line-height: 40px !important;
        width: 100%;
    }
    .toTop {
        bottom: 0px !important;
        left: 10px !important;
        font-size: 36px !important;
    }
    .sections-list {
        padding-left: 15% !important;
        padding-right: 15% !important;
    }
    .numbers {
        float: right !important;
        font-family: "ProximaNova-Bold" !important;
    }
    .techno_container .techno_item {
        margin-bottom: 70px !important;
        height: 140px !important;
    }
    .left {
        border: none !important;
    }
    .sections-list > li > a > h4 {
        font-size: 14px !important;
        text-align: center !important;
    }

}

@media only screen and (max-width : 320px) {
    .top_text h1 {
        font-size: 44px !important;
    }
    .top_text p {
        padding-top: 20px;
        font-size: 22px !important;
    }
    .sections-list {
        padding-left: 10% !important;
        padding-right: 10% !important;
    }

}
@media only screen and (max-width : 480px) {


}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {


}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    .hide-from-768{
        display:none !important;
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

@media only screen and (min-device-width : 320px) and (max-device-width : 640px) and (orientation : landscape){

}
@media only screen and (min-device-width : 600px) and (max-device-width : 1280px) and (orientation : landscape){


}

@media only screen and (max-height : 700px) {

}
